﻿

label.asteriskRequired:after {
    content: " *";
    color: red;
}

.setTextCenter {
    text-align: center;
}


.no-click {
    pointer-events: none;
    cursor: default;
}


/*.form-group10 {
    margin-bottom : 10px !important;
}*/

/*Select2 Custom CSS*/
.select2-choices {
    border-radius: 4px;
}

.select2-search-choice {
    border: none !important;
    background: #dfe2e5 !important;
    color: #354052 !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    /*border-radius: 4px !important;*/
    cursor: default !important;
    margin-top: 5px !important;
}

.select2-choice {
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    /*border: 1px solid #ccc !important;
        border-radius: 4px !important;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    border: none !important;
    border-bottom: 2px solid #dfe2e5 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding-left: 0px !important;
}

.select2-arrow {
    background: no-repeat !important;
    border-left: 0px !important;
}

.select2-chosen {
    color: #999999;
}

/*.select2-results {
    height: 150px !important;
}*/

.customInput {
    border: 0 !important;
    border-bottom: 2px solid #dfe2e5 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 5px 0 !important;
}

/*Loader Div Set Center*/

.divProgress {
    margin: 0px;
    padding: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /*background-color: #FCFCFC;*/
    z-index: 30001;
    opacity: .8;
    filter: alpha(opacity=70);
    display: none;
}

.progressP {
    position: absolute;
    top: 50%;
    left: 50%;
    color: White;
    width:150px;
    height:150px;
    -webkit-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
}



.loading-spiner {
    background-color: #EFEFEF;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0px;
    left: 0px;
    opacity: .5; /* in FireFox */
    filter: alpha(opacity=50);
}

.dataLoad {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

    .dataLoad > div {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

.table-responsive .progressP {
    /*position: static;
    top: auto;
    left: auto;*/
}

.table-responsive .loading-spiner {
    position: static;
    left: auto;
    right: auto;
    width: 150px;
    height: 150px;
}

.advertiserCards .progressP {
    /*position: static;
    top: auto;
    left: auto;*/
}

.advertiserCards .loading-spiner {
    position: static;
    left: auto;
    right: auto;
    width: 150px;
    height: 150px;
}
