<form>
  <div>
    <div class="row">

      <div *ngIf="isLoading" class="loading-spiner">
        <img class="progressP" src="{{websiteRoot}}/{{imgurl}}/loader-elipses.gif" />
      </div>

      <div class="col-sm-12">
        <h2 class="mamTitle">
          <img src="{{websiteRoot}}/{{imgurl}}/mam-icon.png" alt="Media Asset Management" class="mamTitleImg" />
          Production management
        </h2>

        <div class="step-wizard">
          <div class="tab-content">
            <form>
              <div class="row">

                <div class="col-lg-3 col-md-6 col-sm-6">
                  <form [formGroup]="productionManagementPositionForm">
                    <div role="tabpanel" class="" id="" style="margin-bottom: 30px;">
                      <div class="main-tab-content">
                        <div class="tab-header">
                          <h5>Positions</h5>
                        </div>

                        <div data-loading> </div>

                        <div class="tabContent">
                          <div class="tabContentArea" style="padding-top: 0;">

                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="PositionName" class="asteriskRequired">Position</label>
                                  <input type="text" class="form-control" formControlName="PositionName" placeholder="Enter position">
                                  <div *ngIf="isValidPositionName"
                                    class="text-danger">
                                    <span *ngIf="productionManagementPositionForm.controls['PositionName'].hasError('required') ">
                                      Position name is required.
                                    </span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <button type="submit" class="blueBtn createBtn" id="btnPosition" (click)="savePosition()">Add</button>&nbsp;
                                  <button type="button" class="orangeBtn" id="btnCancelPosition" (click)="clearPosition()">Cancel</button>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="table-responsive custom-table">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Positions</th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let position of pmPositions">
                                        <td>{{position.Name}}</td>
                                        <td>
                                          <a (click)="editPosition(position)" title="edit" href="javascript:">
                                            <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="edit" />
                                          </a>
                                          <a (click)="deletePosition(position)" title="delete" href="javascript:">
                                            <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="delete" />
                                          </a>
                                        </td>
                                      </tr>
                                      <tr *ngIf="pmPositions.length == 0">
                                        <td colspan="2" class="settextcenter">no record is found</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                  <form [formGroup]="productionManagementSeparationForm">
                    <div role="tabpanel" class="" id="" style="margin-bottom: 30px;">
                      <div class="main-tab-content">
                        <div class="tab-header">
                          <h5>Separations</h5>
                        </div>
                        <div class="tabContent">
                          <div class="tabContentArea" style="padding-top: 0;">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="SeparationName" class="asteriskRequired">Separation</label>
                                  <input type="text" class="form-control" formControlName="SeparationName" placeholder="Enter separation">
                                  <div *ngIf="isValidSeparationName"
                                    class="text-danger">
                                    <span *ngIf="productionManagementSeparationForm.controls['SeparationName'].hasError('required') ">
                                      Separation name is required.
                                    </span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <button type="submit" class="blueBtn createBtn" id="btnSeparation" (click)="saveSeparation()">Add</button>&nbsp;
                                  <button type="button" class="orangeBtn" id="btnCancelSeparation" (click)="clearSeparation()">Cancel</button>
                                </div>
                              </div>
                              <div class="col-md-12">
                                <div class="table-responsive custom-table">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Separations</th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let seperation of pmSeparations">
                                        <td>{{seperation.Name}}</td>
                                        <td>
                                          <a (click)="editSeparation(seperation)" title="edit" href="javascript:">
                                            <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="edit" />
                                          </a>
                                          <a (click)="deleteSeparation(seperation)" title="delete" href="javascript:">
                                            <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="delete" />
                                          </a>
                                        </td>
                                      </tr>
                                      <tr *ngIf="pmSeparations.length == 0">
                                        <td colspan="2" class="settextcenter">no record is found</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                  <form [formGroup]="productionManagementStatusForm">
                    <div role="tabpanel" class="" id="" style="margin-bottom: 30px;">
                      <div class="main-tab-content">
                        <div class="tab-header">
                          <h5>Production status</h5>
                        </div>

                        <div class="tabContent">
                          <div class="tabContentArea" style="padding-top: 0;">
                            <div class="row">

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="ProductionStatusName" class="asteriskRequired">Production status</label>
                                  <input type="text" class="form-control" formControlName="ProductionStatusName"
                                    placeholder="Enter production status">
                                  <div *ngIf="isValidProductionStatusName"
                                    class="text-danger">
                                    <span *ngIf="productionManagementStatusForm.controls['ProductionStatusName'].hasError('required') ">
                                      Production status name is required.
                                    </span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <button type="button" class="blueBtn createBtn" id="btnStatus" (click)="saveStatus()">Add</button>&nbsp;
                                  <button type="button" class="orangeBtn" id="btnCancelStatus" (click)="clearStatus()">Cancel</button>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="table-responsive custom-table">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Production status</th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let status of pmStatuses">
                                        <td>{{status.Name}}</td>
                                        <td>
                                          <a (click)="editStatus(status)" title="edit" href="javascript:">
                                            <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="edit" />
                                          </a>
                                          <a (click)="deleteStatus(status)" title="delete" href="javascript:" class="">
                                            <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="delete" />
                                          </a>
                                        </td>
                                      </tr>
                                      <tr *ngIf="pmStatuses.length == 0">
                                        <td colspan="2" class="settextcenter">no record is found</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-6">
                  <form [formGroup]="productionManagementStageForm">

                    <div role="tabpanel" class="" id="" style="margin-bottom: 30px;">
                      <div class="main-tab-content">
                        <div class="tab-header">
                          <h5>Production stages</h5>
                        </div>
                        <div class="tabContent">
                          <div class="tabContentArea" style="padding-top: 0;">

                            <div class="row">

                              <div class="col-md-12">
                                <div class="form-group">
                                  <label for="ProductionStageName" class="asteriskRequired">Production stages</label>
                                  <input type="text" class="form-control" formControlName="ProductionStageName"
                                    placeholder="Enter production stages" required="">
                                  <div *ngIf="isValidProductionStageName"
                                    class="text-danger">
                                    <span *ngIf="productionManagementStageForm.controls['ProductionStageName'].hasError('required') ">
                                      Production stage name is required.
                                    </span>
                                  </div>
                                </div>
                                <div class="form-group">
                                  <button type="button" class="blueBtn createBtn" id="btnStage" (click)="saveStage()">Add</button>&nbsp;
                                  <button type="button" class="orangeBtn" id="btnCancelStage" (click)="clearStage()">Cancel</button>
                                </div>
                              </div>

                              <div class="col-md-12">
                                <div class="table-responsive custom-table">
                                  <table class="table">
                                    <thead>
                                      <tr>
                                        <th>Production stages</th>
                                        <th></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let stage of pmStages">
                                        <td>{{stage.Name}}</td>
                                        <td>
                                          <a (click)="editStage(stage)" title="edit" href="javascript:">
                                            <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="edit" />
                                          </a>
                                          <a (click)="deleteStage(stage)" title="delete" href="javascript:" class="">
                                            <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="delete" />
                                          </a>
                                        </td>
                                      </tr>
                                      <tr *ngIf="pmStages.length == 0">
                                        <td colspan="2" class="settextcenter">no record is found</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>