.setTextCenter {
    text-align: center;
  }

  .setMarginRightZero {
    margin-right: 0px !important;
  }

  #btnCancelPosition, #btnCancelSeparation, #btnCancelStatus, #btnCancelStage {
    display: none;
  }